body {
  background-color: black;
}

#world {
  width: 700px; height: 300px;
  background-color: #363636;
  position: relative;
  margin: auto;
  background: url('../images/spiderWorld.png') no-repeat;
}

#encounterTalk {
  margin: auto;
  left: 190px;
  width: 900px; height: 250px;
  color: purple;
  z-index: 9999;
  position: relative;
  /*background: url('../images/textBox.png') no-repeat;*/
  display: none;
}

.buttons1 {
  margin: auto;
  top: 800px;
  left: 100px;
  display: inline-block;

}


#character {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 32px;
  height: 32px;
  background-color: grey;
  background: url('../images/spider.png') no-repeat;
}

  #character.front-right { background-position: 0px 0px; }
  #character.front-stand { background-position: -32px 0px; }
  #character.front-left { background-position: -64px 0px; }

  #character.left-right { background-position: 0px -32px; }
  #character.left-stand { background-position: -32px -32px; }
  #character.left-left { background-position: -64px -32px; }

  #character.right-right { background-position: -64px -64px; }
  #character.right-stand { background-position: -32px -64px; }
  #character.right-left { background-position: -0px -64px; }

  #character.back-right { background-position: 0px -96px; }
  #character.back-stand { background-position: -32px -96px; }
  #character.back-left { background-position: -64px -96px; }

  /*.encounters {
    position: absolute;
	  width: 32px;
	  height: 32px;
    background-color: white;
    z-index: 1000;
  }*/

  #encounter1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    left: 280px;
    top: 70px;
    z-index: 9999;
    background: url('../images/fly.png') no-repeat;
    background-size: 100%;
  }

  /*#encounter2 {

  }

  #encounter3 {

  }*/
